textarea {
  width: 98%;
  height: 98%;
}

pre {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  line-height: 1.5em;
}

button, input {
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: large;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hover {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(16,52,230,1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(16,52,230,1);
  box-shadow: 5px 5px 10px 0px rgba(16,52,230,1);
}

.deletePointer {
  cursor: crosshair;
}

.connectPointer {
  cursor: pointer;
}

.quote {
  background-color: silver;
}

.missingConnection {
  font-weight: bold;
  color: red;
}

.config {
  border: 1px dashed red;
}

.text {
  border: 1px dashed blue;
}

.config div, .text div {
  border: 1px dotted gray;
}

.connection {
  position: absolute;
  border-style: solid;
  border-width: 2px 4px 4px 4px;
}

.upConnect, .overConnect {
  position: absolute;
  background-color: #007bff;
  opacity: .75;
}


.connectSelect {
  -webkit-box-shadow: 5px 5px 10px 0px rgba(53,53,53,1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(53,53,53,1);
  box-shadow: 5px 5px 10px 0px rgba(53,53,53,1);
}

.flat {
  border-color: #007bff #007bff transparent #007bff;
}

.linenum {
  color: dimgrey;
  padding-left: 2px;
}

.zebra {
  color: darkgreen;
}

.bordered {
  border: 1px solid lightgray;
}

#entitydisplay {
  overflow: hidden;
  width: 23%;
  white-space: pre;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 700px;
}

#annotationareacontainer {
  overflow: hidden;
  width: 50%;
}

#linenums {
  float: left;
  width: 50px;
  overflow: hidden; /* essential for together-scrolling! */
  background-color: lightcyan;
}

#annotationarea {
  position: relative;
  overflow-y: scroll;
  width: calc(100% - 50px);  /* experimental - can do calc in javascript */
  padding-left: 5px;
}

#linenums, #annotationarea {
  height: 700px;
}

#annotationarea pre, #annotationarea textarea, pre {
  font-family: times, serif;
}

#tools {
  width: 23%;
  border: 1px solid green;
}

#tools div {
  margin: 5px;
  padding: 5px;
}

#annotate {
  width: 93%;
  background-color: lime;
}

#specificAnns span {
  padding: 5px;
}

/* Fancy buttons */
#annotationOpts .btn {
  border-radius: 5px;
  margin: 10px;
}

#annotationOpts .btn:hover,
#annotationOpts .btn.hover {
  outline: 5px solid #ffff00;
}

#annotationOpts .btn:active,
#annotationOpts .btn.active {
  outline: 5px solid #afeeee;
}

/* Annotation guidelines */
li {
  margin-top: 7px;
}

